<div id="background">
</div>
<div id="content">
  <div class="text-center">
    <h1 class="my-auto mx-auto">
      <span class="font-weight-light" id="meal">meal</span>
      <br>
      <span>
        <span class="font-weight-light" id="plnr">plnr</span>
        <span class="font-weight-light" id="com">.com</span>
    </span>
    </h1>
  <button class="btn border loginButton text-white d-block mb-3 mx-auto first" disabled id="loginWithEmail">email</button>
  <button class="btn border loginButton text-white d-block mb-3 mx-auto" id="loginWithGoogle" (click)="login()">google</button>
  <button class="btn border loginButton text-white d-block mb-3 mx-auto" disabled id="loginWithFacebook">facebook</button>
</div>
</div> 