#content{
    height: 100vh;
    border: 3px;
    box-sizing: border-box;
}
#com{
    font-size: 0.35em;
}
#plnr{
    letter-spacing: 0.05em;
    margin-left: -0.05em;
}
#meal{
    letter-spacing: 0.18em;
    padding-left: 0.15em;
}
#content h1{
    line-height: 0.8em;
    padding-top: 30vh;
}
.loginButton {
    background: transparent;
    border-radius: 20px;
    width: 100px;
    font-size: 1em;
    line-height: 1em;
}
.loginButton.first {
    margin-top: 140px;
}
#passwordResetForm .loginButton{
    width: 180px;
}
#loginForm .first{
    margin-top:120px;
}
#signUpForm .first{
    margin-top: 100px;
}
#passwordResetForm .first{
    margin-top: 160px;
}
#loginForm input, #signUpForm input, #passwordResetForm input {
    background: transparent;
    color: white;
    outline: none;
    border: none;
    border-bottom: 1px solid;
    display: block;
}
.errorMessage{
    position: absolute;
    left: 50%;
    top: -40px;
    width: 160px;
    color: red;
    font-weight: 100;
    margin-left: -80px;
}