<div id="overlay" class="h-100 w-100 text-center" [ngClass]="{'d-flex': showHideOverlay == 'show'}" (click)="showHideOverlay = none">
</div>
<div class="card mx-auto position-absolute text-center" [ngClass]="{'d-inline': showHideOverlay == 'show'}">
  <p>Add ingredient</p>
  <input [(ngModel)]="ingredientToAdd" placeholder="ingredient" class="text-center">
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="units" id="option1" autocomplete="off" value="grams" [(ngModel)]="units"
      required>
    <label class="form-check-label" for="option1">grams</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="units" id="option2" autocomplete="off" value="liters" [(ngModel)]="units">
    <label class="form-check-label" for="option2">liters</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="units" id="option3" autocomplete="off" value="pieces" [(ngModel)]="units">
    <label class="form-check-label" for="option3">pieces</label>
  </div>
  <input [(ngModel)]="quantityToAdd" placeholder="quantity" class="text-center" type="number" max="999">
  <br>
  <button (click)="addIngredient()" class="mt-3 mt-2 btn btn-success">add</button>
</div>

<div id="topMenu" class="pb-4">
  <a class="btn btn-sm" routerLink="">
    <back</a>
      <span id="shoppingList">shopping list</span>
</div>
<div class="text-center">
  <span class="badge badge-pill badge-secondary d-inline-block my-2 w-75" (click)="showAddIngredient()">+ add ingredient</span>
</div>
<ul class="list-group list-unstyled bg-white text-dark mx-auto">
  <ng-container *ngFor="let item of myIngredients | async">
    <li class="list-group-item" [ngClass]="{'list-group-item-success': item.bought}">
      <a class="badge badge-danger text-light" (click)="removeIngredient(item.key)">X</a>&nbsp;
      <span class="ingredient">{{item.title}}</span>&nbsp;&nbsp;
      <span class="units">
        <span class="mr-2">{{item.quantity}}/{{item.units}}</span>
        <input type="checkbox" [checked]="item.bought" (change)="changeBoughtStatus(item.key, item.bought)">
      </span>
    </li>
  </ng-container>
</ul>