#shoppingList{
    background-image: url("../assets/img/shopping.png");
    width: 120px;
    padding-left: 25px;
    margin-right: 5px;
    margin-top: 5px;
    height: 20px;
    right: 0;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
}
.list-group .ingredient{
    font-weight: 600;
}
.list-group .units{
    float:right;
}