textarea {
    width: 90%;
    height: 50%;
}
#savedMeals{
    background-image: url("../assets/img/star.png");
    width: 120px;
    padding-left: 25px;
    margin-right: 5px;
    margin-top: 5px;
    height: 20px;
    right: 0;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
}
.list-group .list-group-item {
    background: transparent;
}
.list-group .list-group-item > div{
    margin: 0 auto;
    margin-top: 10px;
    width: 95%;
    border-radius: 15px;
    color: #384493;
    -webkit-box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.2);
    overflow: hidden;
}
.list-group .badge-has-content {
    background-color: #384493;
}
.list-group .list-group {
    width: 85%;
}
.list-group .list-group .ingredient{
    font-weight: 600;
}
.list-group .list-group .units{
    float:right;
}
.list-group h1{
    font-size: 1.2em;
}
.list-group .mealButtons{
    position: absolute;
    height: 100%;
    width: 50px;
    right: 0;
    top: 0;
    border-radius: 0 15px 15px 0;
    z-index: 2;
}
.mealButtons .border-bottom.border-secondary{
    width: 100%;
    height: 50%;
    border-radius: 0 15px 0 0;
    
}
.mealButtons .border-bottom.border-secondary.text-center span{
    font-size: 3em;
    line-height: 0.2em;
}
.mealButtons .text-center span{
    font-size: 1.5em;
}
.mealMenu{
    top: 0;
    left: 0;
    border-radius: 15px;
    padding-right: 60px;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
}
.deleteMeal, .addNote, .addToDay{
    width: 33%;
    height: 100%;
    display: inline-block;
    text-align: center;
}
.deleteMealIcon, .addNoteIcon, .addToDayIcon {
    background-repeat: no-repeat;
    background-size: contain;
    width: 30%;
    height: 40%;
}
.deleteMealIcon{
    background-image: url("../assets/img/delete.png");
}
.addNoteIcon{
    background-image: url("../assets/img/note.png");
}
.addToDayIcon{
    background-image: url("../assets/img/calendar_dark.png");
}

/*slide in for meal menu buttons*/
.mealMenu{
    left: 80%;
    -webkit-transition: 1s; /* For Safari 3.1 to 6.0 */
    transition: 1s;
}
.slideIn {
    left: 0;
}

/*slide down for ingreadients for meals*/
li.list-group li.list-group-item{
    overflow: hidden;
    position: relative;
}
ul.list-group li.list-group-item > ul{
    overflow: hidden;
    max-height: 0;
    -webkit-transition: 1s; /* For Safari 3.1 to 6.0 */
    transition: 1s;
}
.slideDown{
    max-height: 500px !important;
}

/*rotate arrow for showing ingredients*/
.rotate{
    transform: rotate(180deg);
}