<div id="background">
</div>
<a id="logout" [routerLink]="" (click)="logout()"></a>
<div id="content">
    <div class="text-center">
        <h1 class="my-auto mx-auto">
            <span class="font-weight-light" id="meal">meal</span>
            <br>
            <span>
                <span class="font-weight-light" id="plnr">plnr</span>
                <span class="font-weight-light" id="com">.com</span>
            </span>
        </h1>
        <button class="btn menuButton text-white text-right d-block mb-3 mx-auto pr-0 first" id="weeklyplan" routerLink="/calendar">weekly plan</button>
        <button class="btn menuButton text-white text-right d-block mb-3 mx-auto pr-0" id="shoppingList" routerLink="/shoppinglist">shopping list</button>
        <button class="btn menuButton text-white text-right d-block mb-3 mx-auto pr-0" id="savedMeals" routerLink="/favourites">saved meals</button>    
    </div>
</div>