<div id="background">
</div>
<div class="w-100 h-100 position-absolute" (click)="showSidePanel = !showSidePanel" *ngIf="showSidePanel">
</div>
<!-- <a id="logout" [routerLink]="" (click)="logout()"></a> -->
<a id="settings" (click)="showSidePanel = !showSidePanel"></a>
<div id="content">
    <div class="text-center">
        <h1 class="my-auto mx-auto">
            <span class="font-weight-light" id="meal">meal</span>
            <br>
            <span>
                <span class="font-weight-light" id="plnr">plnr</span>
                <!-- <span class="font-weight-light" id="com">.com</span> -->
            </span>
        </h1>
        <p class="mt-3 small text-secondary" *ngIf="!emailVerified">please verify your email</p>
        <button class="btn menuButton text-white text-right d-block mb-3 mx-auto pr-0 first" id="weeklyplan" routerLink="/calendar">weekly plan</button>
        <button class="btn menuButton text-white text-right d-block mb-3 mx-auto pr-0" id="shoppingList" routerLink="/shoppinglist">shopping list</button>
        <button class="btn menuButton text-white text-right d-block mb-3 mx-auto pr-0" id="savedMeals" routerLink="/favourites">saved meals</button>
    </div>
</div>
<div id="sidePanelContainer" [ngClass]="{'slideIn': showSidePanel}">
    <div id="sidePanelContent" [ngClass]="{'slideIn': showSidePanel}" >
        <button routerLink="invite" class="btn btn-sm text-white mb-3">meal plan sharing</button>
        <button class="btn btn-sm text-white mb-3" (click)="resetWeeklyPlan()">reset weekly plan</button>
        <button class="btn btn-sm text-white mb-3" (click)="resetShoppingList()">reset shopping list</button>
        <button class="btn btn-sm text-white mb-3">about mealplnr.com</button>
        <div class="position-absolute w-100 mb-2">
            <p class="m-0">
                Signed in as,
            </p>
            <p class="m-0">
                {{currentUserEmail}}
            </p>
            <button class="btn btn-sm btn-outline-light" (click)="logout()">logout</button>
        </div>
    </div>
</div>