#content{
    height: 100vh;
    border: 3px;
    box-sizing: border-box;
}
#com{
    font-size: 0.35em;
}
#plnr{
    letter-spacing: 0.05em;
    margin-left: -0.05em;
}
#meal{
    letter-spacing: 0.18em;
    padding-left: 0.15em;
}
#content h1{
    line-height: 0.8em;
    padding-top: 30vh;
}
.menuButton {
    background: transparent;
    width: 130px;
    /*height: 20px;*/
    font-size: 1em;
    line-height: 1em;
    background-repeat: no-repeat;
    background-size: contain;
}
.menuButton.first {
    margin-top: 140px;
}
#weeklyplan{
    background-image: url("../assets/img/calendar.png")
}
#shoppingList{
    background-image: url("../assets/img/shopping.png")
}
#savedMeals{
    background-image: url("../assets/img/star.png")
}

#logout{
    position: absolute;
    top: 5px;
    left: 5px;
    text-decoration: none;
    width: 30px;
    height: 25px;
    text-align: right;
    background-image: url("../assets/img/logout.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}